<div class="con">
    <div class="conta">
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Message" style="height: 80px;">
            <button>Send Message</button>
        </form>
    </div>
    <div class="image">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/007/067/602/small/businessman-shows-outstretched-hand-with-social-icon-on-virtual-screen-contact-us-free-photo.jpg">
    </div>
</div>
