<div class="body">
    <img src="https://mobimg.b-cdn.net/v3/fetch/4c/4c52afe37ef0adebb3f80f53ee52b5ca.jpeg">
    <div class="login_box">
        <div class="title-div">
            <i class="fa-solid fa-user"></i>
            <h1>Register</h1>
        </div>
        <form>
            <input type="email" placeholder="Enter Email Address">
            <input type="text" placeholder="Enter Username">
            <input type="password" placeholder="Enter Password">
            <input type="password" placeholder="Confirm Password">
           
            <input type="submit" value="Register">
        </form>
        <div class="signbox">
            <strong>Already have an  account? </strong>
            <a routerLink="../login">LogIn</a>
        </div>
    </div>
</div>
