<div class="cour">
    <div class="course">
        <img src="https://sklc-tinymce-2021.s3.amazonaws.com/comp/2023/04/full-stack%20web%20development_1681290664.png">
        <p>Full Stack Web Development</p>
    </div>
    <div class="course">
        <img src="https://thinkml.ai/content/images/2023/07/free-ChatGPT-online-courses.jpg">
        <p>Artificial Intelligence</p>
    </div>
    <div class="course">
        <img src="https://imagevars.gulfnews.com/2023/03/27/Cybersecurity-_18723400af9_medium.jpg">
        <p>Cyber Security</p>
    </div>

    <div class="course">
        <img src="https://sklc-tinymce-2021.s3.amazonaws.com/comp/2023/04/full-stack%20web%20development_1681290664.png">
        <p>Data Science</p>
</div>
</div>
